{% extends 'base.html' %}
{% load i18n mptt_tags %}
{% block page_title %}Teams{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="main-info">
            <a class="button pull-right" href="{% url 'home' %}">{% trans 'Cancel' %}</a>
            {% include 'partials/object_intro_header.html' with delete=True %}
        </div>
        <div class="container-fluid">
            <p>{% blocktrans with ob=object %}Please confirm you wish to delete <em>"{{ ob }}"</em>{% endblocktrans %}</p>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form }}
                <button class="button button-googleplus button-xl" type="submit">{% trans 'Delete' %}</button>
            </form>
        </div>
    </div>
{% endblock %}