{% extends 'base.html' %}
{% load l10n i18n mptt_tags static %}
{% block page_title %}My Profile{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="main-info">
            <h2>{% trans 'My Profile' %}</h2>
        </div>
        <div class="container-fluid">
            <form enctype="multipart/form-data" method="post" novalidate>
                {% csrf_token %}
                <fieldset>
                    {{ form }}
                </fieldset>
                <button class="button button-primary button-xl" type="submit">{% trans 'Save' %}</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}