{% load i18n images_tags static %}
<header>
    <div class="nav-home">
        <a href="/">{% trans 'Asset Management' %}</a>
    </div>
    {% if user.is_authenticated %}
    <form method="GET" action="{% url 'assets:search' %}" class="nav-search-form">
        <input type="text" name="q" placeholder="Search..." value="{{ query }}">
    </form>
    <div class="user-menu">
        <a class="user-menu-trigger d-flex align-items-center">
            {% if user.picture %}
                {% image user.picture fill-30x30-c100 as img %}
                <img class="user-avatar" src="{{ img.url }}">
                <i class="icon-angle-down"></i>
            {% else %}
                <img class="user-avatar" src="{% static 'dist/images/anonymous.png' %}">
                <i class="icon-angle-down"></i>
            {% endif %}
        </a>
        <ul class="user-menu-drop">
            {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
            {% endif %}
            <li><a href="{% url 'my_profile' %}">{% trans 'My Profile' %}</a></li>
            <li><a href="{% url 'password_change' %}">{% trans 'Password Change' %}</a></li>
            <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
        </ul>
    </div>
    {% endif %}
</header>