{% load i18n app_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col d-flex align-items-center">

            <i class="icon-tasks"></i>

            {% if request.user.activated_collection %}
                {% section_name as section %}
                <ul class="nav mr-auto">
                    <li {% if section == 'asset' %}class="active"{% endif %}><a href="{% url 'assets:asset-list' %}">{% trans 'Assets' %}</a></li>
                    <li {% if section == 'task' %}class="active"{% endif %}><a href="{% url 'assets:task-list' %}">{% trans 'Tasks' %}</a></li>
                    <li {% if section == 'contact' %}class="active"{% endif %}><a href="{% url 'assets:contact-list' %}">{% trans 'Contacts' %}</a></li>
                </ul>
            {% else %}
                <ul class="nav mr-auto">
                    <li><a href="{% url 'collection-create' %}">Create a new collection</a></li>
                </ul>
            {% endif %}

            {% if request.user.activated_collection %}
                <form method="GET" action="{% url 'assets:search' %}" class="search-form">
                    <div class="input-group">
                        <div class="input-group-addon b-secondary"><i class="icon-search"></i></div>
                        <input type="text" name="q" placeholder="Search..." value="{{ query }}">
                    </div>
                </form>
            {% endif %}

            <div class="ml-auto">
                <div class="collection-menu menu" x-data="{ open: false }">
                    <a class="menu-link" @click="open = true">{% firstof request.user.activated_collection 'Asset Management' %} <i class="icon-down-open"></i></a>
                    <ul class="menu-drop flow-left" x-show="open" @click.away="open = false">
                        {% for collection in user.get_collections %}
                        <li {% if collection == request.user.activated_collection %}class="active"{% endif %}>
                            <a href="{% url 'collection-activate' collection.pk %}">{{ collection }}</a>
                            {% if collection.admin == request.user %}
                                <a class="pull-right" href="{% url 'collection-update' collection.pk %}"><i class="icon-pencil"></i></a>
                            {% endif %}
                        </li>
                        {% empty %}
                        <li>{% trans 'No collections exist' %}</li>
                        {% endfor %}
                        <li><a href="{% url 'collection-create' %}">Create a new collection</a></li>
                    </ul>
                </div>
                {% if request.user.activated_collection %}
                    <div class="settings-menu menu" x-data="{ open: false }">
                        <a class="menu-link" @click="open = true"><i class="icon-cog"></i></a>
                        <ul class="menu-drop flow-left" x-show="open" @click.away="open = false">
                            <li><a href="{% url 'assets:asset-type-list' %}">{% trans 'Asset Types' %}</a></li>
                            <li><a href="{% url 'assets:task-priority-list' %}">{% trans 'Task Priorities' %}</a></li>
                            <li><a href="{% url 'assets:task-type-list' %}">{% trans 'Task Types' %}</a></li>
                        </ul>
                    </div>
                {% endif %}
                <div class="user-menu menu" x-data="{ open: false }">
                    <a class="menu-link" @click="open = true"><i class="icon-user-circle"></i></a>
                    <ul class="menu-drop flow-left" x-show="open" @click.away="open = false">
                        {% if user.is_staff %}<li><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>{% endif %}
                        <li><a href="{% url 'my_profile' %}">{% trans 'My Profile' %}</a></li>
                        <li><a href="{% url 'password_change' %}">{% trans 'Password Change' %}</a></li>
                        <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>