// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

.errorlist {
  color: color("googleplus");
}

// formsets

.formset {
  background: color("secondary");
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.formset-deleted {
  background: color-darken("secondary", 15%);
  opacity: .75;
}

.formset-empty {
  display: none;
}

// fields

.filters input.datepicker {
  width: 9.5rem;
}

// checkbox
.checkbox {
  position: relative;
  label {
    position: initial;
  }
}