// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

.errorlist {
  color: color("googleplus");
}

// formsets

.formset {
  background: color("lavender_light");
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.formset-deleted {
  background: color("lavender_dark");
  opacity: .75;
}

.formset-empty {
  display: none;
}
