// Header
//––––––––––––––––––––––––––––––––––––––––––––––––––

header {
  @include position(0, 0, auto, 0, fixed);
  background: color("primary");
  display: flex;
  align-items: center;
  min-height: 6rem;
  z-index: zindex("header");
}

.nav-home {
  font-size: 1.5rem;
  padding-left: 2rem;

  a {
    color: color("whitesmoke");
  }
}

.nav-search-form {
  margin: 0 2rem 0 auto;

  input {
    margin: 0;
    padding: .5rem 1rem;
    background: color-lighten("primary", 5%);
    border: 0;
    color: color("whitesmoke");
  }

  input:focus {
    background: color-lighten("primary", 10%);
  }

  input::placeholder {
    color: color("whitesmoke");
  }
}

.user-menu {
  position: relative;

  .user-menu-trigger {
    background: color-lighten("primary", 5%);
    color: color("whitesmoke");
    cursor: pointer;
    height: 6rem;
    padding: 0 1.5rem;

    .user-avatar {
      max-height: 2rem;
      margin-right: .5rem;
    }

    &:hover {
      background: color-lighten("primary", 2.5%);
    }
  }

  .user-menu-drop {
    @include position($top: 6rem, $right: 0);
    background: color-lighten("primary", 5%);
    display: none;
    list-style-type: none;
    min-width: 20rem;

    li a {
      color: color("whitesmoke");
      display: block;
      line-height: 3.5rem;
      padding: 0 1.5rem;

      &:hover {
        background: color-lighten("primary", 2.5%);
      }
    }
  }
}
