// Form
//––––––––––––––––––––––––––––––––––––––––––––––––––

header {
  @include position(0, 0, auto, 0, fixed);
  background: color("primary");
  display: flex;
  align-items: center;
  min-height: 6rem;
  z-index: zindex("header");
}

header .nav {
  list-style-type: none;
  margin: 0 0 0 20rem;

  li {
    display: inline-block;

    a {
      color: color("white");
      padding: 0 1.5rem;
    }
  }
}

.sidenav {
  @include position(0, auto, auto, 0, fixed);
  height: 100%;
  width: 20rem;
  overflow-x: hidden;
  padding: 8rem 2rem;
}

.sidenav .nav {
  list-style-type: none;

  li {
    margin-bottom: 1rem;
  }
}

.main {
  background: color("white");
  border-left: solid 1px $border-color;
  margin-left: 20rem;
  min-height: 100vh;
  padding-top: 6rem;
}

.main .main-info {
  border-bottom: solid 1px $border-color;
  padding: 2rem 1.5rem;

  * {
    margin-bottom: 0;
  }

  .breadcrumb {
    list-style-type: none;

    li {
      display: inline;
    }

    li+li:before {
      @include pseudo($display: inline, $pos: relative, $content: '>');
      padding: 0 .6rem 0 .4rem;
    }
  }
}