// Main
//––––––––––––––––––––––––––––––––––––––––––––––––––

.main {
  background: color("white");
  border-left: solid 1px $border-color;
  margin-left: 20rem;
  min-height: 100vh;
  padding-top: 6rem;
}

.main-info {
  @include clearfix;
  padding: 2rem 1.5rem;

  h2 {
    line-height: $input-height;
  }

  * {
    margin-bottom: 0 !important;
  }

  .breadcrumb {
    list-style-type: none;

    li {
      display: inline;
    }

    li+li:before {
      @include pseudo($display: inline, $pos: relative, $content: '>');
      padding: 0 .6rem 0 .4rem;
    }
  }
}