// Main
//––––––––––––––––––––––––––––––––––––––––––––––––––

.main {
  @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, .15));
  background: color("white");
  border: solid 1px $border-color;
  border-radius: 6px;
  margin-top: 13rem;
  padding-bottom: 10rem;
}

.main-info {
  @include clearfix;
  padding: 2rem 1.5rem;

  h2 {
    line-height: $input-height;
    margin: 0;
  }

}

.breadcrumb {
  list-style-type: none;
  margin-bottom: 0;

  li {
    display: inline-block;
  }

  li + li:before {
    @include pseudo($display: inline-block, $pos: relative, $content: ">");
    padding: 0 .5rem 0 .4rem;
  }
}