// Tabs
//––––––––––––––––––––––––––––––––––––––––––––––––––

.tabs {
  border-bottom: solid 1px $border-color;
  list-style-type: none;
  padding: 0 1.5rem 0 1.5rem;

  li {
    display: inline-block;
    padding: 1rem 1.5rem;
    position: relative;
    border: solid 1px $border-color;
    border-bottom: 0;
    border-top-left-radius: $global-radius;
    border-top-right-radius: $global-radius;
  }

  li.active {
    background: color("secondary");
  }

  li.error::before {
    @include position($top: -1.25rem, $right: .5rem);
    @include pseudo($content: '\e800');
    color: color("googleplus");
    font-family: "fontello";
    font-size: 1.5rem;
  }

  li a {
    cursor: pointer;
  }
}
