// Utils
// --------------------------

.b-radius {
  border-radius: $global-radius;
}

.w-auto {
  width: auto;
}

.w-1 {
  width: 1px; // used to force a th to its min width
}

.mb-sm {
  margin-bottom: 1.5rem;
}

.mb-md {
  margin-bottom: 3rem;
}