<div class="input-group">
    <label for="{{ widget.attrs.id }}" class="button button-secondary input-group-addon">{{ widget.input_text }}</label>
    <input type="text" id="{{ widget.attrs.id }}_label" value="{% if widget.is_initial %}{{ widget.value }}{% endif %}" readonly>
    {% if widget.is_initial and not widget.required %}
    <div class="input-group-addon button button-secondary">
        <div class="checkbox" style="margin-bottom: 0!important;">
            <label for="{{ widget.checkbox_id }}" style="padding-right: 0;">
                <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
                <span></span>{{ widget.clear_checkbox_label }}
            </label>
        </div>
    </div>
    {% endif %}
    <script>
        function setFileName(fileInput) {
            var files = fileInput.files;
            var name = '';
            if (files.length == 1) {
                name = files[0].name;
            } else if (files.length > 1) {
                name = files.length + ' files.';
            }
            document.getElementById(fileInput.id + '_label').value = name;
        }
    </script>
    <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} style="display: none;" onchange="setFileName(this)">
</div>