{% extends 'base.html' %}
{% load i18n mptt_tags static %}
{% block page_title %}Assets{% endblock %}
{% block body_class %}{% endblock %}
{% block sidebar %}{{ block.super }}{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="main-info">
            {% if object %}
                <div class="pull-right">
                    <a class="button" href="{% url 'assets:asset-create' %}?parent={{ object.pk }}">{% trans 'Create' %}</a>
                    <a class="button button-googleplus" href="{% url 'assets:asset-delete' object.pk %}">{% trans 'Delete' %}</a>
                </div>
            {% endif %}
            <h2>{% if object %}{% trans 'Update' %}{% else %}{% trans 'Create' %}{% endif %}</h2>
            {% if object %}
            <ul class="breadcrumb muted small">
                {% recursetree object.get_ancestors %}
                <li>{{ node.name }}</li>
                {{ children }}
                {% endrecursetree %}
            </ul>
            {% endif %}
        </div>
        <ul class="tabs">
            <li data-tab-id="detail" class="active"><a>Detail</a></li>
            <li data-tab-id="tasks"><a>Tasks</a></li>
        </ul>
        <div class="container">
            <form method="post" novalidate>
                {% csrf_token %}
                <fieldset data-tab="detail">
                    {{ form }}
                </fieldset>
                <fieldset data-tab="tasks" class="d-hidden">
                    {{ formset.management_form }}
                    <div class="formsets" data-formset-prefix="tasks">
                        {% for formset_form in formset.forms %}
                            <div class="formset">
                                {{ formset_form }}
                            </div>
                        {% endfor %}
                        <div class="formset-empty">
                            {{ formset.empty_form }}
                        </div>
                        <a class="button pull-right formset-add">Add Task</a>
                    </div>
                </fieldset>
                <button class="button button-primary" type="submit">{% trans 'Save' %}</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'dist/js/tabs.js' %}"></script>
    <script src="{% static 'dist/js/formset.js' %}"></script>
    <script>$('.tabs').tabs();</script>
    <script>$('.formsets').formset();</script>
{% endblock %}