{% extends 'base.html' %}
{% load i18n mptt_tags static %}
{% block page_title %}Assets{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="main-info">
            {% if object %}
                <div class="pull-right">
                    <a class="button button-googleplus" href="{% url 'assets:asset-delete' object.pk %}">{% trans 'Delete' %}</a>
                </div>
            {% endif %}
            {% include 'partials/object_intro_header.html' %}
            {% if parent_asset %}
                {% include 'assets/partials/breadcrumb.html' with object=parent_asset %}
            {% elif object %}
                {% include 'assets/partials/breadcrumb.html' with object=object %}
            {% endif %}
        </div>
        <div class="container-fluid">
            <form method="post" novalidate>
                {% csrf_token %}
                <fieldset>
                    {{ form }}
                </fieldset>
                <button class="button button-primary button-xl" type="submit">{% trans 'Save' %}</button>
            </form>
        </div>
    </div>
{% endblock %}