{% extends 'base.html' %}
{% load i18n mptt_tags static tz %}
{% block page_title %}Assets{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="main-info pb-zero">
            <div class="row mb-md">
                <div class="col">
                    <h2>{{ object }}</h2>
                    {% include 'assets/partials/breadcrumb.html' with object=object %}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <p>Description</p>
                    <p class="mb-md">{{ object.description|default:'-'|linebreaksbr }}</p>
                    <p>Tasks</p>
                    <div class="mb-md">
                        <table>
                            <thead>
                                <tr>
                                    <th>{% trans 'Name' %}</th>
                                    <th>{% trans 'Completed' %}</th>
                                    <th>{% trans 'Priority' %}</th>
                                    <th>{% trans 'Due Date' %}</th>
                                    <th>{% trans 'Assigned To' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in object.tasks.all %}
                                    <tr>
                                        <td><a href="{% url 'assets:task-update' task.pk %}">{{ task.name }}</a></td>
                                        <td>{{ task.last_completed|localtime|date|default:'-' }}</td>
                                        <td>{{ task.task_priority|default_if_none:'-' }}</td>
                                        <td>{{ task.due_date|default:'-' }}</td>
                                        <td>{% if task.assigned_to %}{{ task.assigned_to.get_full_name }}{% else %}-{% endif %}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td class="muted" colspan="5">{% trans 'No tasks have been created,' %} <a href="{% url 'assets:asset-task-create' asset_pk=object.pk %}">{% trans 'create one now.' %}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-md">
                        <p>Child Assets</p>
                        <table>
                            <thead>
                                <tr>
                                    <th>{% trans 'Name' %}</th>
                                    <th>{% trans 'Type' %}</th>
                                    <th>{% trans 'Tasks' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ob in object.children.all %}
                                    <tr>
                                        <td><a href="{{ ob.get_nodes_url }}">{{ ob }}</a></td>
                                        <td>{{ ob.asset_type|default_if_none:'-' }}</td>
                                        <td>{{ ob.task_count|default:'-' }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td class="muted" colspan="3">{% trans 'No assets have been created,' %} <a href="{% url 'assets:asset-child-create' asset_pk=object.pk %}">{% trans 'create one now.' %}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-2">
                    <p>Actions</p>
                    <ul class="list-style-none mb-md">
                        {% if object.is_child_node %}
                            <li><a href="{{ object.parent.get_nodes_url }}">{% trans 'View Parent' %}</a></li>
                        {% else %}
                            <li><a href="{% url 'assets:asset-list' %}">{% trans 'Assets' %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'assets:asset-update' object.pk %}">Edit</a></li>
                        <li><a href="{% url 'assets:asset-copy' object.pk %}">Copy</a></li>
                        <li><a href="{% url 'assets:asset-move' object.pk %}">Move</a></li>
                        <li><a href="{% url 'assets:asset-delete' object.pk %}">Delete</a></li>
                        <li><a href="{% url 'assets:asset-task-create' asset_pk=object.pk %}">Add Task</a></li>
                        <li><a href="{% url 'assets:asset-child-create' asset_pk=object.pk %}">Add Child Asset</a></li>
                    </ul>
                    <p>Asset Type</p>
                    <p class="mb-md">{{ object.asset_type|default_if_none:'-' }}</p>
                    <p>Contact</p>
                    <p class="mb-md">{% if object.contact %}<a href="{{ object.contact.get_absolute_url }}">{{ object.contact }}</a>{% else %}-{% endif %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}