{% extends 'base.html' %}
{% load i18n mptt_tags static tz %}
{% block page_title %}Assets{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="main-info pb-zero">
            <div class="row mb-md">
                <div class="col">
                    <h2>{{ object }}</h2>
                    {% include 'assets/partials/breadcrumb.html' with object=object %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Description</p>
                    <p class="mb-md">{{ object.description|default:'-'|linebreaksbr }}</p>
                    <p>Tasks</p>
                    <div class="mb-md">
                        <div class="row header-row">
                            <div class="col-3 strong">{% trans 'Name' %}</div>
                            <div class="col-2 strong">{% trans 'Last Completed' %}</div>
                            <div class="col-2 strong">{% trans 'Priority' %}</div>
                            <div class="col-2 strong">{% trans 'Due date' %}</div>
                            <div class="col-3 strong">{% trans 'Assigned To' %}</div>
                        </div>
                        {% for task in object.tasks.all %}
                            <div class="row data-row">
                                <div class="col-3"><a href="{% url 'assets:task-update' task.pk %}">{{ task.name }}</a></div>
                                <div class="col-2">{{ task.last_completed|localtime|date|default:'-' }}</div>
                                <div class="col-2">{{ task.task_priority|default_if_none:'-' }}</div>
                                <div class="col-2">{{ task.due_date|default:'-' }}</div>
                                <div class="col-3">{{ task.assigned_to|default:'-' }}</div>
                            </div>
                        {% empty %}
                            <div class="row data-row">
                                <div class="col">{% trans 'No tasks have been created,' %} <a class="strong" href="{% url 'assets:task-create' %}?asset={{ object.pk }}">{% trans 'create one now.' %}</a></div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mb-md">
                        <p>Child Assets</p>
                        <div class="row header-row">
                            <div class="col-7 strong">{% trans 'Name' %}</div>
                            <div class="col-2 strong">{% trans 'Type' %}</div>
                            <div class="col-2 strong">{% trans 'Tasks' %}</div>
                            <div class="col-1 strong"></div>
                        </div>
                        {% for ob in object.children.all %}
                            <div class="row data-row">
                                <div class="col-7"><a href="{{ ob.get_nodes_url }}">{{ ob }}</a></div>
                                <div class="col-2">{{ ob.asset_type|default_if_none:'-' }}</div>
                                <div class="col-2">{{ ob.task_count|default:'-' }}</div>
                                <div class="col-1 text-right">
                                    {% if ob.is_leaf_node %}
                                        <a href="{% url 'assets:asset-create' %}?parent={{ ob.pk }}"><i class="icon-plus-circled"></i></a>
                                    {% else %}
                                        <a href="{{ ob.get_nodes_url }}"><i class="icon-right-open"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% empty %}
                            <div class="row data-row">
                                <div class="col">
                                    {% trans 'No assets have been created,' %} <a class="strong" href="{% url 'assets:asset-create' %}?parent={{ object.pk }}">{% trans 'create one now.' %}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-2">
                    <p>Actions</p>
                    <ul class="list-style-none mb-md">
                        {% if object.is_child_node %}
                            <li><a href="{{ object.parent.get_nodes_url }}">{% trans 'View Parent' %}</a></li>
                        {% else %}
                            <li><a href="{% url 'assets:asset-list' %}">{% trans 'Top Level Assets' %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'assets:asset-update' object.pk %}">Edit</a></li>
                        <li><a href="{% url 'assets:asset-copy' object.pk %}">Copy</a></li>
                        <li><a href="{% url 'assets:asset-delete' object.pk %}">Delete</a></li>
                        <li><a href="{% url 'assets:task-create' %}?asset={{ object.pk }}">Add Task</a></li>
                        <li><a href="{% url 'assets:asset-create' %}?parent={{ object.pk }}">Add Child Asset</a></li>
                    </ul>
                    <p>Asset Type</p>
                    <p class="mb-md">{{ object.asset_type|default_if_none:'-' }}</p>
                    <p>Contact</p>
                    <p class="mb-md">{{ object.contact|default_if_none:'-' }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}