{% extends 'base.html' %}
{% load i18n mptt_tags static %}
{% block page_title %}Assets{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="main-info pb-zero">
            <div class="row mb-md">
                <div class="col">
                    <h2>Assets</h2>
                    {% include 'assets/partials/breadcrumb.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Assets</p>
                    <div class="mb-md">
                        <div class="row header-row">
                            <div class="col-7 strong">{% trans 'Name' %}</div>
                            <div class="col-2 strong">{% trans 'Type' %}</div>
                            <div class="col-2 strong">{% trans 'Tasks' %}</div>
                            <div class="col-1 strong"></div>
                        </div>
                        {% for ob in object_list %}
                            <div class="row data-row">
                                <div class="col-7"><a href="{{ ob.get_nodes_url }}">{{ ob }}</a></div>
                                <div class="col-2">{{ ob.asset_type|default_if_none:'-' }}</div>
                                <div class="col-2">{{ ob.task_count|default:'-' }}</div>
                                <div class="col-1 text-right">
                                    {% if ob.is_leaf_node %}
                                        <a href="{% url 'assets:asset-child-create' asset_pk=ob.pk %}"><i class="icon-plus-circled"></i></a>
                                    {% else %}
                                        <a href="{{ ob.get_nodes_url }}"><i class="icon-right-open"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% empty %}
                            <div class="row data-row">
                                <div class="col">
                                    {% trans 'No assets have been created,' %} <a class="strong" href="{% url 'assets:asset-create' %}">{% trans 'create one now.' %}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-2">
                    <p>Actions</p>
                    <ul class="list-style-none mb-md">
                        <li><a href="{% url 'assets:asset-create' %}">Add</a></li>
                    </ul>
                    <p>Management</p>
                    <ul class="list-style-none mb-md">
                        <li><a href="{% url 'assets:asset-type-list' %}">Asset Types</a></li>
                        <li><a href="{% url 'assets:task-priority-list' %}">Task Priorities</a></li>
                        <li><a href="{% url 'assets:task-type-list' %}">Task Types</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}