{% extends 'base.html' %}
{% load i18n mptt_tags static %}
{% block page_title %}Assets{% endblock %}
{% block body_class %}{% endblock %}
{% block header_content %}
    <header>
        {% include 'partials/header.html' %}
        <div class="container-fluid mt-2">
            {% include 'assets/partials/breadcrumb.html' with object=asset %}
        </div>
    </header>
{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="row">
            <div class="col">
                <p>
                    {% blocktrans with ob=asset %}Please choose the asset in which <em>"{{ ob }}"</em> will be copied into.
                    Once successful the newly created asset will be opened.{% endblocktrans %}</p>
                <form method="post" novalidate>
                    {% csrf_token %}
                    <fieldset>
                        
                        {{ form.non_field_errors }}

                        {{ form.new_name.label_tag }}
                        {{ form.new_name.errors }}
                        {{ form.new_name }}
                        {% if form.new_name.help_text %}
                        <span class="helptext">{{ form.new_name.help_text|safe }}</span>
                        {% endif %}
                        
                        {{ form.parent_asset.label_tag }}
                        {{ form.parent_asset.errors }}
                        {{ form.parent_asset }}
                        <div id="tree" class="mb-1h"></div>

                        {{ form.include_descendants.label_tag }}
                        {{ form.include_descendants.errors }}
                        {{ form.include_descendants }}
    
                    </fieldset>
                    <button class="button button-primary button-xl" type="submit">{% trans 'Copy' %}</button>
                </form>
            </div>
            <div class="col-2">
                <p>Actions</p>
                <ul class="list-style-none mb-3">
                    <li><a href="{{ asset.get_nodes_url }}">Cancel</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'ext/tree/tree.css' %}">
{% endblock %}
{% block extra_js %}
<script src="{% static 'ext/tree/tree.js' %}"></script>
<script>
    var parent = document.getElementById('{{ form.parent_asset.id_for_label }}');
    parent.className = 'd-hidden';
    var tree = new Tree(document.getElementById('tree'), { navigate: true });
    tree.on('select', e => parent.value = e.dataset.id);
    var structure = [
        { 
            id: '',
            selected: true,
            name: 'Root Level Asset'
        }, {% recursetree form.parent_asset.field.queryset.all %}
        {
            id: '{{ node.id }}',
            name: '{{ node.name }}', {% if not node.is_leaf_node %}
            type: Tree.FOLDER,
            children: [{{ children }}]{% endif %}
        },
    {% endrecursetree %}];
    tree.json(structure);
</script>
{% endblock %}