{% extends 'base.html' %}
{% load i18n mptt_tags %}
{% block page_title %}Asset Types{% endblock %}
{% block body_class %}{% endblock %}
{% block header_content %}
    <header>
        {% include 'partials/header.html' %}
        <div class="container-fluid mt-2">
            <ul class="breadcrumb">
                <li><a href="{% url 'assets:asset-type-list' %}">Asset Types</a></li>
                <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
            </ul>
        </div>
    </header>
{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="row">
            <div class="col">
                {% if protected %}
                    <p>{% blocktrans with ob=object %}Deleting <em>"{{ ob }}"</em> would first require deleting the following protected related objects:{% endblocktrans %}</p>
                    <ul>
                        {% for item in protected %}
                            <li>{{ item.verbose_name|capfirst }}: <a href="{{ item.object.get_absolute_url }}">{{ item.object }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>{% blocktrans with ob=object %}Please confirm you wish to delete <em>"{{ ob }}"</em>{% endblocktrans %}</p>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form }}
                        <button class="button button-red button-xl" type="submit">{% trans 'Delete' %}</button>
                    </form>
                {% endif %}
            </div>
            <div class="col-2">
                <p>Actions</p>
                <ul class="list-style-none mb-3">
                    <li><a href="{% url 'assets:asset-type-list' %}">Cancel</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}