{% extends 'base.html' %}
{% load app_tags i18n mptt_tags static tz %}
{% block page_title %}Assets{% endblock %}
{% block body_class %}{% endblock %}
{% block header_content %}
    <header>
        {% include 'partials/header.html' %}
        <div class="container-fluid mt-2">
            {% include 'assets/partials/breadcrumb.html' with object=object %}
        </div>
    </header>
{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="row">
            <div class="col-3 pl-0">
                <div class="p-1h b-whitesmoke">
                    <span class="uppercase">{% trans 'Navigation' %}</span>
                </div>
                <ul class="nav-tree">
                    {% if object.is_child_node %}
                        <li><a href="{{ object.parent.get_nodes_url }}"><i class="icon-left-open"></i> {% trans 'Back' %}</a></li>
                    {% else %}
                        <li><a href="{% url 'assets:asset-list' %}"><i class="icon-left-open"></i> {% trans 'Back' %}</a></li>
                    {% endif %}
                    {% for ob in object.children.all %}
                    <li><a href="{{ ob.get_nodes_url }}">{{ ob }}</a></li>
                    {% endfor %}
                    <li><a class="button button-secondary uppercase" href="{% url 'assets:asset-child-create' asset_pk=object.pk %}">{% trans 'Add' %}</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="p-1h b-whitesmoke d-flex align-items-center">
                    <span class="uppercase">{% trans 'Detail' %}</span>
                    <a class="button button-secondary button-xs uppercase ml-auto" href="{% url 'assets:asset-update' object.pk %}">{% trans 'Edit' %}</a>
                </div>
                <div class="row p-1h">
                    <div class="col-3 muted">{% trans 'Name' %}</div>
                    <div class="col">{{ object.name }}</div>
                </div>
                <div class="row p-1h">
                    <div class="col-3 muted">{% trans 'Description' %}</div>
                    <div class="col">{{ object.description|default:'-'|linebreaksbr }}</div>
                </div>
                <div class="row p-1h">
                    <div class="col-3 muted">{% trans 'Asset Type' %}</div>
                    <div class="col">{{ object.asset_type|default_if_none:'-' }}</div>
                </div>
                <div class="row p-1h">
                    <div class="col-3 muted">{% trans 'Contact' %}</div>
                    <div class="col">{% if object.contact %}<a href="{{ object.contact.get_absolute_url }}">{{ object.contact }}</a>{% else %}-{% endif %}</div>
                </div>
                
                {% if object.asset_type and object.asset_type.fields %}
                    <div class="p-1h b-whitesmoke d-flex align-items-center">
                        <span class="uppercase">{% trans 'Extra Detail' %}</span>
                        <a class="button button-secondary button-xs uppercase ml-auto" href="{% url 'assets:asset-extra' object.pk %}">{% trans 'Edit' %}</a>
                    </div>
                    {% for k, v in object.extra_detail.items %}
                    <div class="row p-1h">
                        <div class="col-3 muted">{{ k }}</div>
                        {% if v|klass == 'list' %}
                            <div class="col">{{ v|default:'-'|join:', ' }}</div>
                        {% elif v|klass == 'str' %}
                            <div class="col">{{ v|default:'-'|linebreaksbr }}</div>
                        {% else %}
                            <div class="col">{{ v|default_if_none:'-' }}</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                {% endif %}

                <div class="p-1h b-whitesmoke d-flex align-items-center">
                    <span class="uppercase">{% trans 'Tasks' %}</span>
                    <a class="button button-secondary button-xs uppercase ml-auto" href="{% url 'assets:asset-task-create' asset_pk=object.pk %}">{% trans 'Add' %}</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>{% trans 'Name' %}</th>
                            <th class="nowrap">{% trans 'Last Completed' %}</th>
                            <th>{% trans 'Priority' %}</th>
                            <th class="nowrap">{% trans 'Due Date' %}</th>
                            <th class="nowrap">{% trans 'Assigned To' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in object.tasks.all %}
                            <tr>
                                <td><a href="{% url 'assets:task-update' task.pk %}">{{ task.name }}</a></td>
                                <td>{{ task.last_completed|localtime|date|default:'-' }}</td>
                                <td>{{ task.task_priority|default_if_none:'-' }}</td>
                                <td>{{ task.due_date|default:'-' }}</td>
                                <td>{% if task.assigned_to %}{{ task.assigned_to.get_full_name }}{% else %}-{% endif %}</td>
                            </tr>
                        {% empty %}
                            <tr><td colspan="5">{% trans 'No tasks have been created.' %}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="border border-radius mt-10">
                    <div class="row">
                        <div class="col">
                            <div class="p-1h d-flex align-items-center border-bottom">
                                <div>
                                    <strong>{% trans 'Move this record' %}</strong><br>
                                    <span>{% trans 'Move this and all of its contents.' %}</span>
                                </div>
                                <a class="button button-secondary uppercase ml-auto" href="{% url 'assets:asset-move' object.pk %}">{% trans 'Move' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="p-1h d-flex align-items-center border-bottom">
                                <div>
                                    <strong>{% trans 'Copy this record' %}</strong><br>
                                    <span>{% trans 'Copy this and all of its contents.' %}</span>
                                </div>
                                <a class="button button-secondary uppercase ml-auto" href="{% url 'assets:asset-copy' object.pk %}">{% trans 'Copy' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="p-1h d-flex align-items-center">
                                <div>
                                    <strong>{% trans 'Delete this record' %}</strong><br>
                                    <span>{% trans 'Once you delete, there is no going back. Please be certain.' %}</span>
                                </div>
                                <a class="button button-red uppercase ml-auto" href="{% url 'assets:asset-delete' object.pk %}">{% trans 'Delete this record' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}