{% extends 'base.html' %}
{% load i18n mptt_tags static %}
{% block page_title %}Assets{% endblock %}
{% block body_class %}{% endblock %}
{% block header_content %}
    <header>
        {% include 'partials/header.html' %}
        <div class="container-fluid mt-2">
            {% include 'assets/partials/breadcrumb.html' %}
        </div>
    </header>
{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="row">
            <div class="col pl-0">
                <div class="p-1h b-whitesmoke">
                    <span class="uppercase">{% trans 'Navigation' %}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col pl-0">
                <ul class="nav-tree">
                    {% for ob in object_list %}
                    <li><a href="{{ ob.get_nodes_url }}">{{ ob }}</a></li>
                    {% endfor %}
                    <li><a class="button button-secondary uppercase" href="{% url 'assets:asset-create' %}">{% trans 'Add' %}</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}