{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Contacts{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="main-info">
            <h2>{% trans 'Contacts' %}
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <table>
                        <thead>
                            <tr>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Email' %}</th>
                                <th>{% trans 'Phone Number' %}</th>
                                <th>{% trans 'Mobile Number' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ob in object_list %}
                            <tr>
                                <td><a href="{{ ob.get_absolute_url }}">{{ ob }}</a></td>
                                <td>{% if ob.email %}<a href="mailto:{{ ob.email }}">{{ ob.email }}</a>{% else %}-{% endif %}</td>
                                <td>{{ ob.phone_number|default:'-' }}</td>
                                <td>{{ ob.mobile_number|default:'-' }}</td>
                            </tr>
                            {% empty %}
                            <tr><td class="muted" colspan="4">{% trans 'No contacts have been created,' %} <a href="{% url 'assets:contact-create' %}">{% trans 'create one now.' %}</a></td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-2">
                    <p>Actions</p>
                    <ul class="list-style-none mb-md">
                        <li><a href="{% url 'assets:contact-create' %}">Add</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}