{% extends "base.html" %}
{% load app_tags i18n mptt_tags %}
{% block page_title %}Search Results{% endblock %}
{% block body_class %}{% endblock %}
{% block sidebar %}{{ block.super }}{% endblock %}

{% block inner_content %}
    <div class="main">
        <div class="main-info">
            <h2>{% trans 'Search Results' %} <span class="small muted">{{ query }}</span></h2>
        </div>
        {{ block.super }}
        <table class="tree-table table-hover">
            <thead>
                <tr>
                    <th>{% trans 'Item' %}</th>
                    <th class="w-1">{% trans 'Type' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for ob in object_list %}
                <tr class="pointer">
                    <td>
                        {% if ob|klass == 'Asset' %}
                            <a href="{{ ob.get_nodes_url }}">{{ ob }}</a>
                            <br><span class="small muted">Root > {{ ob.get_ancestors|tree_path:" > " }}</span>
                        {% else %}
                            <a href="{{ ob.get_absolute_url }}">{{ ob }}</a>
                        {% endif %}
                    </td>
                    <td class="nowrap">{{ ob|klass }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">{% trans 'No results found.' %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}