{% extends "base.html" %}
{% load app_tags i18n mptt_tags %}
{% block page_title %}Search Results{% endblock %}
{% block body_class %}{% endblock %}
{% block header_content %}
    <header>
        {% include 'partials/header.html' %}
        <div class="container-fluid mt-2">
            <ul class="breadcrumb">
                <li>Search Results <span class="small muted">{{ query }}</span></li>
            </ul>
        </div>
    </header>
{% endblock %}
{% block inner_content %}
    <div class="main">
        <table>
            <thead>
                <tr>
                    <th>{% trans 'Item' %}</th>
                    <th class="w-1">{% trans 'Type' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for ob in object_list %}
                <tr class="pointer">
                    <td>
                        {% if ob|klass == 'Asset' %}
                            <a href="{{ ob.get_nodes_url }}">{{ ob }}</a>
                            {% include 'assets/partials/breadcrumb.html' with object=ob %}
                        {% elif ob|klass == 'Task' %}
                            <a href="{{ ob.get_absolute_url }}">{{ ob }}</a>
                            {% include 'assets/partials/breadcrumb.html' with object=ob.asset %}
                        {% else %}
                            <a href="{{ ob.get_absolute_url }}">{{ ob }}</a>
                        {% endif %}
                    </td>
                    <td class="nowrap">{{ ob|klass }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td class="muted" colspan="2">{% trans 'No results found.' %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}