{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Task Priorities{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="main-info">
            <h2>{% trans 'Task Priorities' %}</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <table>
                        <thead>
                            <tr>
                                <th>{% trans 'Name' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ob in object_list %}
                            <tr>
                                <td><a href="{{ ob.get_absolute_url }}">{{ ob }}</a></td>
                            </tr>
                            {% empty %}
                            <tr><td class="muted">{% trans 'No task priorities have been created,' %} <a href="{% url 'assets:task-priority-create' %}">{% trans 'create one now.' %}</a></td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-2">
                    <p>Actions</p>
                    <ul class="list-style-none mb-md">
                        <li><a href="{% url 'assets:asset-list' %}">Assets</a></li>
                        <li><a href="{% url 'assets:task-priority-create' %}">Add</a></li>
                    </ul>
                    <p>Management</p>
                    <ul class="list-style-none mb-md">
                        <li><a href="{% url 'assets:asset-type-list' %}">Asset Types</a></li>
                        <li><a href="{% url 'assets:task-priority-list' %}">Task Priorities</a></li>
                        <li><a href="{% url 'assets:task-type-list' %}">Task Types</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}