{% extends 'base.html' %}
{% load i18n static tz %}
{% block page_title %}Tasks{% endblock %}
{% block body_class %}{% endblock %}
{% block header_content %}
    <header>
        {% include 'partials/header.html' %}
        <div class="container-fluid mt-2">
            <ul class="breadcrumb">
                <li><a href="{% url 'assets:task-list' %}">Tasks</a></li>
            </ul>
        </div>
    </header>
{% endblock %}
{% block inner_content %}
    <div class="main">
        <form id="filter_form" method="get" class="filters pull-right">
            <div class="input-group w-auto">
                <div class="input-group-addon">{{ filter_form.due_date.label }}</div>
                {{ filter_form.due_date }}
            </div>
            <div class="input-group w-auto">
                <div class="input-group-addon">{{ filter_form.assigned_to.label }}</div>
                {{ filter_form.assigned_to }}
            </div>
        </form>
        <table>
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Asset' %}</th>
                    <th class="nowrap">{% trans 'Last Completed' %}</th>
                    <th class="nowrap">{% trans 'Due Date' %}</th>
                    <th>{% trans 'Schedule' %}</th>
                    <th class="nowrap">{% trans 'Assigned To' %}</th>
                    <th>{% trans 'Priority' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for ob in object_list %}
                <tr>
                    <td><a href="{{ ob.get_absolute_url }}">{{ ob }}</a></td>
                    <td><a href="{{ ob.asset.get_nodes_url }}">{{ ob.asset }}</a></td>
                    <td>{{ ob.last_completed|localtime|date|default:'-' }}</td>
                    <td>{{ ob.due_date|default:'-' }}</td>
                    <td>{{ ob.schedule_text|default_if_none:'-' }}</td>
                    <td>{% if ob.assigned_to %}{{ ob.assigned_to.get_full_name }}{% else %}-{% endif %}</td>
                    <td><span class="badge" style="background-color: {{ ob.task_priority.badge_colour }}; color: {{ ob.task_priority.font_colour }};">{{ ob.task_priority|default_if_none:'-' }}</span></td>
                </tr>
                {% empty %}
                <tr><td class="muted" colspan="7">{% trans 'No tasks are due for the given date.' %}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_js %}
    {{ filter_form.media }}
    <script>
        function submit() {
            var filter_form = document.getElementById('filter_form');
            filter_form.submit();
        }
        var due_date = document.getElementById('id_due_date');
        due_date.onchange = submit;
        var assigned_to = document.getElementById('id_assigned_to');
        assigned_to.onchange = submit;
    </script>
{% endblock %}