{% extends 'base.html' %}
{% load i18n mptt_tags static %}
{% block page_title %}Task Priorities{% endblock %}
{% block body_class %}{% endblock %}
{% block sidebar %}{{ block.super }}{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="main-info">
            {% if object %}
                <div class="pull-right">
                    <a class="button button-googleplus" href="{% url 'assets:task-priority-delete' object.pk %}">{% trans 'Delete' %}</a>
                </div>
            {% endif %}
            {% include 'partials/object_intro_header.html' %}
        </div>
        {{ block.super }}
        <div class="container-fluid">
            <form method="post" novalidate>
                {% csrf_token %}
                <fieldset>
                    {{ form }}
                </fieldset>
                <button class="button button-primary button-xl" type="submit">{% trans 'Save' %}</button>
            </form>
        </div>
    </div>
{% endblock %}