{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Task Types{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="main-info">
            <h2>{% trans 'Task Types' %}</h2>
        </div>
        <div class="row">
            <div class="col">
                <table class="table-hover">
                    <thead>
                        <tr>
                            <th>{% trans 'Name' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ob in object_list %}
                        <tr>
                            <td><a href="{{ ob.get_absolute_url }}">{{ ob }}</a></td>
                        </tr>
                        {% empty %}
                        <tr><td>{% trans 'No task types have been created,' %} <a class="strong" href="{% url 'assets:task-type-create' %}">{% trans 'create one now.' %}</a></td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-2">
                <p>Actions</p>
                <ul class="list-style-none mb-md">
                    <li><a href="{% url 'assets:asset-list' %}">Top Level Assets</a></li>
                    <li><a href="{% url 'assets:task-type-create' %}">Add</a></li>
                </ul>
                <p>Management</p>
                <ul class="list-style-none mb-md">
                    <li><a href="{% url 'assets:asset-type-list' %}">Asset Types</a></li>
                    <li><a href="{% url 'assets:task-priority-list' %}">Task Priorities</a></li>
                    <li><a href="{% url 'assets:task-type-list' %}">Task Types</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}