{% extends 'base.html' %}
{% load i18n mptt_tags static %}
{% block page_title %}Task Types{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="main-info">
            {% include 'partials/object_intro_header.html' %}
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <fieldset>
                            {{ form }}
                        </fieldset>
                        <button class="button button-primary button-xl" type="submit">{% trans 'Save' %}</button>
                    </form>
                </div>
                <div class="col-2">
                    <p>Actions</p>
                    <ul class="list-style-none mb-md">
                        <li><a href="{% url 'assets:task-type-list' %}">Cancel</a></li>
                        {% if object %}<li><a href="{% url 'assets:task-type-delete' object.pk %}">Delete</a></li>{% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}