{% extends 'base.html' %}
{% load i18n mptt_tags static tz %}
{% block page_title %}Tasks{% endblock %}
{% block body_class %}{% endblock %}
{% block sidebar %}{{ block.super }}{% endblock %}
{% block inner_content %}
    <div class="main">
        <div class="main-info">
            {% include 'partials/object_intro_header.html' %}
        </div>
        <ul class="tabs">
            <li data-tab-id="detail" class="active"><a>Detail</a></li>
            <li data-tab-id="history"><a>History</a></li>
            <li data-tab-id="complete"><a>Completion and Notes</a></li>
        </ul>
        {{ block.super }}
        <form method="post" novalidate>
            {% csrf_token %}
            <div data-tab="detail" class="container">
                <fieldset>
                    {{ form }}
                </fieldset>
                <button class="button button-primary" type="submit" name="task_update">{% trans 'Save' %}</button>
            </div>
            <table data-tab="history" class="d-hidden">
                <thead>
                    <tr>
                        <th>{% trans 'Date' %}</th>
                        <th>{% trans 'Notes' %}</th>
                        <th>{% trans 'User' %}</th>
                        <th>{% trans 'Status' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ob in object.history.all %}
                    <tr>
                        <td class="nowrap">{{ ob.date|localtime|date }}<br>{{ ob.date|localtime|date:'P' }}</td>
                        <td>{{ ob.notes|linebreaks|default:'-' }}</td>
                        <td>{{ ob.user|default_if_none:'-' }}</td>
                        <td>{{ ob.status|default_if_none:'-' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div data-tab="complete" class="container d-hidden">
                <fieldset>
                    {{ history_form }}
                </fieldset>
                <button class="button button-primary" type="submit" name="history_notes">{% trans 'Just add notes' %}</button>
                <button class="button button-olive pull-right" type="submit" name="history_complete">{% trans 'Add notes and complete task' %}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    {{ form.media }}
    <script src="{% static 'dist/js/tabs.js' %}"></script>
    <script>$('.tabs').tabs();</script>
{% endblock %}
