// Components
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Checkboxes and Radios

$checkbox-checked-color:        color("primary");
$checkbox-font-weight:          400;
$checkbox-size:                 2.4rem;
$checkbox-tick-width:           .3rem;
$radio-dot-spacing:             .4rem;

// Input Groups
$input-group-addon-y-padding:   1rem;
$input-group-margin-bottom:     $input-margin-bottom;

// Alerts
//––––––––––––––––––––––––––––––––––––––––––––––––––

$alert-padding:                 1.5rem 2rem;

$alerts: (
    primary:                    color-lighten("primary", 30%)     $font-color,
    secondary:                  color("secondary")                $font-color,
    success:                    color-lighten("green", 35%)       $font-color,
    danger:                     color-lighten("red", 30%)         $font-color,
    warning:                    color-lighten("yellow", 35%)      $font-color,
    info:                       color-lighten("aqua", 15%)        $font-color
);
