// Components
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Checkboxes and Radios

$checkbox-checked-color:        color("primary") !default;
$checkbox-font-weight:          400 !default;
$checkbox-size:                 2.4rem !default;
$checkbox-tick-width:           .3rem !default;
$radio-dot-spacing:             .4rem !default;

// Input Groups
$input-group-addon-y-padding:   1rem !default;
$input-group-margin-bottom:     $input-margin-bottom !default;
