// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Typography
$base-font-family:              'Roboto', sans-serif;
$base-font-size:                13px;
$code-font-family:              'Inconsolata', monospace;

$heading-font-weight:           500;

// Colours
$colors: (
  "white":                      rgb(255, 255, 255),
  "primary":                    rgb(21, 91, 121),
  "googleplus":                 rgb(221, 75, 57),
  "olive":                      rgb(61, 153, 112)
);

// Buttons
$button-font-size:              1.3rem;
$buttons: (
    googleplus:     map-get($colors, "googleplus")      map-get($colors, "white"),
    olive:          map-get($colors, "olive")           map-get($colors, "white")
);

// Forms
$input-use-full-width:          true;
$input-font-size:               1.3rem;

// Tables
$table-margin-bottom:           0;
$table-cell-padding:            .85rem 1.5rem;
$table-font-size:               100%;

// z-indexes
$z-layers: (
  "header": 8
);
