// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

.errorlist {
  color: color("googleplus");
}

// help

.helptext {
  display: block;
  font-style: italic;
  margin: -1rem 0 $generic-margin-bottom 0;
  opacity: .7;
}

// fields

.filters input.datepicker {
  width: 9.5rem;
}

.checkbox {
  margin-bottom: 1.5rem;
}

.checkboxes,
.radios {
  list-style: none;

  li label {
    display: flex;
    align-items: center;
    font-weight: normal;
  }
}

.formbuilder {
  .options-wrapper {
    position: relative;

    ul {
      position: sticky;
      top: 130px;
    }
  }
}