// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

.errorlist {
  color: color("googleplus");
}

// help

.helptext {
  display: block;
  font-style: italic;
  margin: -1rem 0 $generic-margin-bottom 0;
  opacity: .7;
}

// fields

.filters input.datepicker {
  width: 9.5rem;
}

.checkbox i:before {
  font-size: 2rem;
  margin-left: 0;
}
