// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

.errorlist {
  color: color("googleplus");
}

// help

.helptext {
  display: block;
  font-style: italic;
  margin: -1rem 0 $generic-margin-bottom 0;
  opacity: .7;
}

// fields

input[type="color"] {
  @include input;
  @include input-size($padding-y: 0.1rem, $padding-x: 0.1rem);
  @include input-focus;

  height: $input-height;
  width: 10rem;
}

.filters input.datepicker {
  width: 12rem;
}

.checkbox {
  margin-bottom: 1.5rem;
}

.checkboxes,
.radios {
  list-style: none;

  li label {
    display: flex;
    align-items: center;
    font-weight: normal;
  }
}

.formbuilder {
  .options-wrapper {
    position: relative;

    ul {
      position: sticky;
      top: 130px;
    }
  }
}

progress[value] {
  appearance: none;
  width: 100px;
  height: 5px;
}
