// Header
//––––––––––––––––––––––––––––––––––––––––––––––––––

header {
  @include position(0, 0, auto, 0, fixed);
  background: color("white");
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: zindex("header");
}

header .icon-tasks {
  margin-right: 5rem;
}

header .nav {
  margin: 0;

  li {
    display: inline-block;
    margin-right: 5rem;
  }

  li.active a {
    color: color("black");
  }

  a {
    display: block;
  }

}

header .search-form {
  .input-group {
    margin-bottom: 0;
  }

  input {
    background: color("secondary");
    border: 0;
  }

  input:focus {
    background: color("secondary");
  }

}

header .menu {
  margin-left: 2rem;

  .menu-drop {
    right: 0;
    top: 5rem;
  }

}
