// Main
//––––––––––––––––––––––––––––––––––––––––––––––––––

.main {
  margin-top: 12.5rem;
}

.breadcrumb {
  list-style-type: none;
  margin-bottom: 0;

  li {
    display: inline-block;
    font-size: 80%;
  }

  li + li:before {
    @include pseudo($display: inline-block, $pos: relative, $content: "/");
    padding: 0 .5rem 0 .4rem;
  }
}