// Menu
//––––––––––––––––––––––––––––––––––––––––––––––––––

.menu {
  display: inline-block;
  position: relative;
}

.menu-link {
  cursor: pointer;
}

.menu-drop {
  @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, .15));
  background: color("whitesmoke");
  border-radius: $global-radius;
  display: none;
  list-style-type: none;
  min-width: 25rem;
  z-index: zindex("menu");

  &.flow-left {
    @include position($top: 4rem, $right: 0);

    &:before {
      @include css-triangle(color("whitesmoke"), up, 10px);
      @include position($top: -10px, $right: 0);
    }

  }

  &.flow-right {
    @include position($top: 4rem, $left: 0);

    &:before {
      @include css-triangle(color("whitesmoke"), up, 10px);
      @include position($top: -10px);
    }
  }

  li {
    margin-left: 3rem;
    padding: 1rem 1.5rem 1rem 0;
  }

  li.active:before {
    @include pseudo($content: '\e806');
    color: color("green");
    font-family: 'fontello';
    left: 1rem;
  }

}