// Utils
// --------------------------

.border {
  border: solid 1px $border-color;
}

.border-bottom {
  border-bottom: solid 1px $border-color;
}

.border-radius {
  border-radius: $global-radius;
}

// width

.w-auto {
  width: auto;
}

.w-1 {
  width: 1px; // used to force a th to its min width
}

// padding

.p-1 {
  padding: 1rem;
}

.p-1h {
  padding: 1.5rem;
}

.pt-1h {
  padding-top: 1.5rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1h {
  padding-left: 1.5rem;
}

.pr-1h {
  padding-right: 1.5rem;
}

// margin

.mt-2 {
  margin-top: 2rem;
}

.mb-h {
  margin-bottom: .5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mr-1h {
  margin-right: 1.5rem;
}

// text

.nowrap {
  word-wrap: none;
}
