// Utils
// --------------------------

.b-radius {
  border-radius: $global-radius;
}

.w-auto {
  width: auto;
}

.w-1 {
  width: 1px; // used to force a th to its min width
}

.pb-zero {
  padding-bottom: 0;
}

.p-sm {
  padding: 1.5rem;
}

.pt-sm {
  padding-top: 1.5rem;
}

.mb-xs {
  margin-bottom: .75rem;
}

.mb-sm {
  margin-bottom: 1.5rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mr-sm {
  margin-right: 1.5rem;
}
