
.icon-trash-empty:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */