<div class="row mb-3 formbuilder"
    x-data='{
        fields: {% if widget.value != None %}{{ widget.value }}{% else %}{}{% endif %},
        field_ids: {{ field_ids|safe }},
        new_choice: "",
        meta: {{ field_meta_data|safe }},
        new_field_data: function() { return {{ field_data_template|safe }}; },
        visible: []
    }'
    x-init="
        (function() {
            new Sortable(document.querySelector('.fields-wrapper'), {
                handle: '.drag-handle',
                onSort: function (evt) {
                    if (evt.newDraggableIndex >= field_ids.length) {
                        var k = evt.newDraggableIndex - field_ids.length + 1;
                        while (k--) {
                            field_ids.push(undefined);
                        }
                    }
                    field_ids.splice(evt.newDraggableIndex, 0, field_ids.splice(evt.oldDraggableIndex, 1)[0]);
                    $dispatch('rebuild-order');
                }
            })
        })();
    "
    @rebuild-order="
        for (var i = 0; i < field_ids.length; i++) {
            fields[field_ids[i]].order = i;
        }
    "
    @add-field="
        var type = $event.detail.type;
        var data = new_field_data();
        var id = Date.now().toString();
        data.type = type;
        if (meta[type].widgets.length == 1) {
            data.widget = meta[type].widgets[0].type;
        }
        fields[id] = data;
        visible.push(id);
        field_ids.push(id);
        $dispatch('rebuild-order');
    "
    @add-choice="
        var field = fields[$event.detail.field_id];
        if (new_choice) {
            if (field.choices.indexOf(new_choice) == -1) {
                field.choices.push(new_choice);
            }
            new_choice = '';
        }
    "
    @remove-field="
        var field_id = $event.detail.field_id;
        visible = visible.filter((value) => value != field_id);
        field_ids = field_ids.filter((value) => value != field_id);
        delete fields[field_id];
        $dispatch('rebuild-order');
    "
    @toggle-field="
        var field_id = $event.detail.field_id;
        if (visible.indexOf(field_id) >= 0) {
            visible = visible.filter((value) => value != field_id)
        } else { 
            visible.push(field_id)
        }
    "
>
    <input type="hidden" x-bind:value="JSON.stringify(fields)" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
    <div class="col-12">
        <p class="helptext pt-1h">Add any fields you want to capture within the asset extra section, drag to re-arrange their order.</p>
    </div>
    <div class="col fields-wrapper">
        <template x-for="id in field_ids" :key="id">
            <div class="b-whitesmoke mb-h p-1h">
                <div class="row move drag-handle">
                    <div class="col d-flex">
                        <a class="mr-auto pointer"
                            x-text="fields[id].label"
                            @click.prevent="$dispatch('toggle-field', {field_id: id})"
                        ></a>
                        <span class="mr-1h muted" x-text="meta[fields[id].type].name"></span>
                        <a class="pointer"
                            @click.prevent="$dispatch('remove-field', {field_id: id})"
                        ><i class="icon-trash-empty"></i></a>
                    </div>
                </div>
                <div class="pt-1h" x-show="visible.indexOf(id) >= 0">
                    <label>Label:</label>
                    <input type="text" x-model="fields[id].label">
                    <label>Widget:</label>
                    <select x-model="fields[id].widget">
                        <option value="">---------</option>
                        <template x-for="(item, index) in meta[fields[id].type].widgets" :key="index">
                            <option
                                x-bind:value="item.type"
                                x-text="item.name"
                                x-bind:selected="fields[id].widget === item.type"
                            ></option>
                        </template>
                    </select>
                    <label>Required:</label>
                    <label class="checkbox">
                        <input type="checkbox" x-model="fields[id].required">
                    </label>
                    <label>Help text:</label>
                    <input type="text" x-model="fields[id].help_text">
                    <label>Initial:</label>
                    <input type="text" x-model="fields[id].initial">
                    <template x-if="meta[fields[id].type].has_max_digits">
                        <div>
                            <label>Max digits:</label>
                            <input type="number" x-model.number="fields[id].max_digits">
                        </div>
                    </template>
                    <template x-if="meta[fields[id].type].has_decimal_places">
                        <div>
                            <label>Decimal places:</label>
                            <input type="number" x-model.number="fields[id].decimal_places">
                        </div>
                    </template>
                    <template x-if="meta[fields[id].type].has_choices">
                        <div class="row">
                            <div class="col-8">
                                <label>Choices:</label>
                                <template x-for="(item, index, choices) in fields[id].choices" :key="index">
                                    <div class="input-group">
                                        <input type="text" x-model="choices[index]">
                                        <a class="input-group-addon button button-secondary" @click.prevent="fields[id].choices.splice(index, 1);">Delete</a>
                                    </div>
                                </template>
                                <div class="input-group">
                                    <input type="text"
                                        placeholder="Add choice text then press enter"
                                        x-model="new_choice"
                                        @keydown.enter.prevent="$dispatch('add-choice', { field_id: id })"
                                    >
                                    <a class="input-group-addon button button-secondary" @click.prevent="$dispatch('add-choice', { field_id: id })">Add Choice</a>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </template>
    </div>
    <div class="col-3 options-wrapper">
        <ul class="list-style-none">
        <template x-for="key in Object.keys(meta)" :key="key">
            <li class="mb-h">
                <a class="button d-block text-left"
                    x-text="meta[key].name"
                    @click="$dispatch('add-field', { type: key })"
                ></a>
            </li>
        </template>
        </ul>
    </div>
</div>
